// В этом файле должны быть стили для БЭМ-блока layout-category, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout-category {

  $block-name:                &; // #{$block-name}__element

  padding-top: 20px;

  &__inner {
    @include row;
  }

  &__sidebar {
    @include col();
    @include col(xl, 3);

    .category-checkbox {
      margin-bottom: 25px;
      max-width: 400px;
    }

    .category-nav {
      margin-bottom: 25px;
    }
  }

  &__main {
    @include col();
    @include col(xl, 9);

    .breadcrumbs {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 15px;

    span {
      font-weight: 500;
      color: #929292;
    }
  }

  &__tags {
    margin-bottom: 30px;
  }

  &__sort {
    display: flex;
    margin-bottom: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dadada;

    .category-sort {
      flex-grow: 1;
    }

    .category-view {
      flex-shrink: 0;
    }
  }

  &__search {
    border-radius: 2px;
    background-color: #d8eef9;
    padding: 20px;
    margin-bottom: 20px;
  }

  &__list {
    @include row;

    .card {
      @include col();
      @include col(md, 4);
      @include col(sm, 6);

      &:last-child {
        margin-bottom: 15px;
      }

      &.card--list,
      &.card--field {
        flex-basis: 100%;
        max-width: 100%;

        .card__inner {
          padding-bottom: 24px;
          margin-bottom: 0;
          border-bottom: 1px solid $border-color;
        }
      }
    }


    // &._list {
    //   .card {
    //     @include col();
    //     border-bottom: 1px solid $border-color;
    //   }
    //
    //   .card__inner {
    //     flex-direction: row;
    //   }
    //
    //   .card__img-wrap {
    //     margin-right: 20px;
    //     flex-shrink: 0;
    //   }
    //
    //   .card__info {
    //     margin-right: 20px;
    //     margin-bottom: 20px;
    //     flex-grow: 1;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //   }
    //
    //   &__info-top {
    //
    //   }
    //
    //   &__info-bottom {
    //
    //   }
    //
    //   .card__price-wrap {
    //     flex-shrink: 0;
    //     text-align: right;
    //     flex-grow: 1;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //   }
    //
    //   .card__price {
    //     margin-top: 0;
    //   }
    // }
  }
}
