// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.stocks-cards-list {
  @include row;

  .card {
    @include col();
    @include col(lg, 3);
    @include col(md, 4);
    @include col(sm, 6);
  }
}

.card {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &__inner {
    flex-grow: 1;
    position: relative;
    display: flex;
    // align-items: center;
    flex-direction: column;
    width: 100%;
  }

  &__img-wrap {
    flex-shrink: 0;
    display: block;
    margin-bottom: 20px;

    overflow: hidden;

    img {
      transform: scale(1);
      transition: all $transition-time;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__img {
    display: block;
    border-radius: 2px;
  }

  &__title {
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: 500;

    a {
      color: #0c5482;
      text-decoration: none;
    }
  }

  &__category {
    display: none;
  }

  &__info-bottom {
    margin-bottom: 10px;
    display: none;
  }

  &__seller {
    margin-bottom: 8px;
  }

  &__seller-name {
    font-size: 14px;
    margin-right: 8px;
    a {
      color: #0c5482;
      text-decoration: none;
    }
  }

  &__seller-stat {
    font-size: 13px;
    font-weight: 500;
    color: #000;
  }

  &__place {
    font-size: 14px;
    line-height: 14px;
    color: #000;
  }

  &__price-wrap {

  }

  &__price {
    flex-shrink: 0;
    margin: auto 0 0;
    color: #050505;
    font-size: $font-size--h5;
    font-weight: 700;
    line-height: 1;
  }

  &__price-sale {
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 500;
  }

  &__time {
    font-size: 14px;
    color: #000;
    line-height: 14px;
    white-space: nowrap;
    display: none;

    svg {
      margin-right: 4px;
    }
    svg,
    span {
      vertical-align: middle;
    }
  }

  &--sm {

    // #{$block-name}__img-wrap {
    //   overflow: hidden;
    //
    //   img {
    //     transform: scale(1);
    //     transition: all $transition-time;
    //   }
    //
    //   &:hover {
    //     img {
    //       transform: scale(1.1);
    //     }
    //   }
    // }

    min-width: 164px;
    flex-basis: 194px;

    #{$block-name}__inner {

    }
  }

  &--list {
    #{$block-name}__inner {
      flex-direction: row;
      margin-bottom: 20px;
    }

    #{$block-name}__img-wrap {
      margin-right: 20px;
      margin-bottom: 0;
      flex-shrink: 0;
    }

    #{$block-name}__info {
      margin-right: 20px;
      margin-bottom: 20px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #{$block-name}__category {
      display: block;
    }

    #{$block-name}__info-bottom {
      display: block;
    }

    #{$block-name}__price-wrap {
      flex-shrink: 0;
      text-align: right;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    #{$block-name}__price {
      margin-top: 0;
    }

    #{$block-name}__time {
      display: block;
    }
  }

  &--field {

    display: flex;
    flex-direction: row;

    .card--field__name {
      width: 25px;
      flex-shrink: 0;
    }

    .card--field__name-text {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0.1em;
        left: 0;
        width: 14px;
        height: 14px;
        border: 2px solid #dfdfdf;
        border-radius: 2px;
        background-color: #dfdfdf;
      }

      @at-root input:focus ~ .card--field__name-text:before {
        @include field-focus;
      }

      &:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 3px;
        width: 9px;
        height: 5px;
        opacity: 0;
        border-left: 2px solid #444;
        border-bottom: 2px solid #444;
        transform: rotate(-45deg);
        transition: opacity $transition-time;

        @at-root input:checked ~ .card--field__name-text:after {
          opacity: 1;
        }
      }
    }

    .card--field__input {
      position: absolute;
      top: 0.7em;
      left: 0;
      padding: 0;
      margin: 0;
      transform: translateY(-50%);

      &:focus,
      &:active {
        @include field-focus;
      }

      // сокрытие инпута в случае использования своего чекбокса
      opacity: 0;
    }

    #{$block-name}__inner {
      flex-direction: row;
    }

    #{$block-name}__img-wrap {
      margin-right: 20px;
      flex-shrink: 0;
    }

    #{$block-name}__category {
      display: block;
    }

    #{$block-name}__info {
      margin-right: 20px;
      margin-bottom: 20px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #{$block-name}__info-bottom {
      display: block;
      margin-bottom: 0;
    }

    #{$block-name}__price-wrap {
      flex-shrink: 0;
      text-align: right;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #{$block-name}__price {
      margin-top: 0;
    }

    #{$block-name}__time {
      display: block;
    }
  }

  &--bets {
    min-width: 100%;

    #{$block-name}__inner {
      flex-direction: row;
      margin-bottom: 20px;
      min-width: 100%;
    }

    #{$block-name}__img-wrap {
      margin-right: 20px;
      margin-bottom: 0;
      flex-shrink: 0;
    }

    #{$block-name}__info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #{$block-name}__info-top {
      display: flex;
      flex-wrap: wrap;

      .left-part {
        flex-grow: 1;
      }

      .left-part,
      .right-part {
        margin-bottom: 10px;
      }
    }

    #{$block-name}__category {
      display: block;
      margin-top: 0;
      margin-bottom: 10px;
    }

    #{$block-name}__info-bottom {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;

      .left-part {
        flex-grow: 1;
      }

      .left-part,
      .right-part {
        margin-bottom: 10px;
      }
    }
  }
}
