// В этом файле должны быть стили для БЭМ-блока layout-deals, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.layout-deals {

  $block-name:                &; // #{$block-name}__element

  &__title {
    span {
      font-weight: 500;
      color: #929292;
    }
  }

  .btn-group {
    margin-bottom: 20px;
  }

}
