// В этом файле должны быть стили для БЭМ-блока lots-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sidebar-nav {

  $block-name:                &; // #{$block-name}__element

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

  }

  &__item {
    border: solid 2px #bed9e6;

    & + & {
      border-top: none;
    }

    &--active {
      // border-color: #13a6e2;

      #{$block-name}__link {
        color: #fff;
        background-color: #13a6e2;
      }
    }
  }

  &__link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #1b1e22;
    text-decoration: none;
    padding: 15px 19px;
  }

}
