// В этом файле должны быть стили для БЭМ-блока btn-group, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn-group {

  $block-name:                &; // #{$block-name}__element

  border: solid 2px #bed9e6;
  border-bottom: none;
  display: inline-block;
  font-size: 0;

  .btn {
    background-image: none;
    border: none;
    border-radius: 0;
    background: #fff;
    border-bottom: solid 2px #bed9e6;

    &:not(:last-child) {
      border-right: solid 2px #bed9e6;
    }

    &--active,
    &:active {
      background-color: #13a6e2;
      color: #fff;
    }
  }

  @media (max-width: ($screen-md - 1)) {

    display: flex;
    flex-wrap: wrap;

    .btn {
      flex-grow: 1;
    }
  }

  @media (max-width: ($screen-md - 100)) {

    flex-direction: column;
    
    .btn {
      &:not(:last-child) {
        border-right: none;
      }
    }
  }
}
